{% extends 'back.html.twig' %}

{% block title %}GuideStep{% endblock %}

{% block body %}
    <h1>GuideStep</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ guide_step.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ guide_step.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ guide_step.content }}</td>
            </tr>
            <tr>
                <th>StepOrder</th>
                <td>{{ guide_step.stepOrder }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_guide_step_index') }}">back to list</a>

    <a href="{{ path('app_guide_step_edit', {'id': guide_step.id}) }}">edit</a>

    {{ include('guide_step/_delete_form.html.twig') }}
{% endblock %}
